<div class="row expanded">
    <div class="columns">
        <div class="course-title">
            <h3><%- name %>
                <span class="show-tas">
                    <i class="fi-torsos">
                        <span class="ta-count success badge show-for-medium">0</span>
                    </i>
                </span>
                <span class="ta-count success badge hide-for-medium">0</span>
            </h3>
        </div> 
    </div>
</div>
<div class="row expanded ta-overlay-container hidden"></div>
<div class="row expanded">
    <div class="columns">
        <div class="requests-container"></div>
    </div>
</div>
<div class="row expanded">
    <div class="columns">
        <div class="make-request-container"></div>
        </div>
    </div>
</div>

