<div class="row expanded">
    <div class="columns">
        <div class="course-title">
            <h3><%- name %></h3>
        </div> 
    </div>
</div>

<div class="row expanded">
    <div class="columns">
        <div class="requests-container"></div>
    </div>
</div>

<div class="row expanded">
    <div class="columns">
        <div class="make-request-container"></div>
    </div>
</div>

<div class="row expanded">
    <div class="columns">
        <div class="course-title ta-section-title">
            <h4> Current Office Hours </h4>
        </div>
    </div>
</div>
<div class="row expanded">
    <div class="columns office-hours-container"></div>
</div>

<div class="row expanded">
    <div class="columns">
        <div class="course-title ta-section-title">
            <h4> TAs </h4>
        </div>
    </div>
</div>
<div class="row expanded">
    <div class="columns ta-container"></div>
</div>


