<div class="row expanded request-information <% if ( owned_by_me || can_ta_for ) { %> editable <% } %> <% if ( checked_out ) { %> checked-out <% } %>">
    <div class="columns shrink">
        <img src="<%= requestor.headshot_url %>" width="101" height="101"/>
    </div> 
    <div class="columns">
        <div class="row expanded request-name">
            <div class="columns">
                <%- requestor.first_name %> <%- requestor.last_name.charAt(0) %>.
            </div>
            <div class="columns shrink request-location">
                <%- moment( when_asked ).format( 'MM/DD hh:mm a' ) %>
            </div>
        </div>
        <div class="row expanded request-bottom-row">
            <div class="columns">
                <input type="text" class="problem-input" value="<%- question %>" maxlength="51">
            </div>
        </div>
        <div class="row expanded request-bottom-row">
            <div class="columns">
                <input type="text" class="location-input" value="<%- where_located %>" maxlength="51">
            </div>
        </div>
    </div>
</div>
<div class="row expanded align-right request-action-bar">
    <div class="columns shrink">
        <button type="button" class="secondary button" data-cancel-edit=true>Cancel</button>
        <button type="button" class="primary button" disabled="disabled" data-save-edit=true>Save</button>
    </div>
</div>
