<div class="row expanded align-center">
    <div class="columns">
        <div class="row expanded problem-input-row">
            <div class="columns">
                <label>
                    What problem are you having?
                        <input type="text" class="problem-input" maxlength="51">
                        <span class="error-message input-footer problem-error"></span>
                        <span class="character-count input-footer"><span class="problem-char-count">0</span>/51 characters</span>
                </label>
            </div>
        </div>
        <div class="row expanded location-input-row">
            <div class="columns">
                <label>
                    Where are you?
                        <input type="text" class="location-input" maxlength="51">
                        <span class="error-message location-error input-footer"></span>
                        <span class="character-count input-footer"><span class="location-char-count">0</span>/51 characters</span>
                </label>
            </div>
        </div>
    </div>
    <div class="columns shrink align-middle show-for-medium">
        <button type="button" class="button get-help-button">Get Help</button>
    </div>
</div>
<div class="row expanded align-center hide-for-medium">
    <div class="columns shrink">
        <button type="button" class="button get-help-button">Get Help</button>
    </div>
</div>
