<div class="row expanded request-information <% if ( owned_by_me || can_ta_for ) { %> editable <% } %> <% if ( checked_out ) { %> checked-out <% } %>">
    <div class="columns shrink">
        <img src="<%= requestor.headshot_url %>" width="100" height="100"/>
    </div> 
    <div class="columns">
        <div class="row expanded request-name">
            <div class="columns">
                <%- requestor.first_name %> <%- requestor.last_name.charAt(0) %>.
            </div>
            <div class="columns shrink request-location">
                <%- where_located %> &mdash; <%- moment( when_asked ).format( 'MM/DD hh:mm a' ) %>
            </div>
        </div>
        <div class="row expanded request-bottom-row">
            <div class="columns">
            <%- question %>
            </div>
        </div>
    </div>
</div>
<% if ( owned_by_me ) { %>
    <div class="row expanded align-right request-action-bar">
        <div class="columns shrink">
            <button type="button" class="secondary button">Edit</button>
            <button type="button" class="primary button">Cancel</button>
        </div>
    </div>
<% } else if ( can_ta_for ) { %>
    <div class="row expanded align-right request-action-bar">
        <div class="columns shrink">
            <button type="button" class="secondary button">Checkout</button>
            <button type="button" class="primary button">Resolve</button>
        </div>
    </div>
<% } %>
