<div class="mobile-nav">
    <input class="menu-checkbox" id="menu-checkbox" type="checkbox">
    <label class="overlay" for="menu-checkbox"></label>
    <nav class="mobile-menu">
        <ul class="menu-category"><h5>Courses</h5>
            <% _.each(courses, function(course) { %>
                <li class="menu-item">
                    <a href="#course/<%= course.id %>"><%- course.identifier %></a>
                </li>
            <% } ); %>
        </ul>
        <ul class="menu-category"><h5>More</h5>
            <li class="menu-item"><a href="#profile">Profile</a></li>
            <li class="menu-item"><a href="#logout">Logout</a></li>
        </ul>
    </nav>
    <div class="header">
        <label class="menu-btn" for="menu-checkbox">
            <span class="three-lines">&#8801;</span>
            Halligan Helper
        </label>
    </div>
</div>
<div class="row expanded">
    <div class="columns shrink show-for-medium">
        <div class="side-nav">
            <div class="side-nav-header">
                <img id="side-nav-logo" src="../../imgs/HH_Logo.jpg" height=151 width=151 alt="logo"></img>
                <h4><a href="#dashboard">Halligan Helper</a></h4>
                <h6><%- name %></h6>
            </div>
            <ul class="menu vertical">
                <ul class="course-menu menu-heading"><a href="#">Courses</a>
                    <% _.each(courses, function(course) { %>
                        <li>
                            <a href="#course/<%= course.id %>"><%- course.identifier %></a>
                        </li>
                    <% }); %>
                <ul class="more-menu menu-heading"><a href="#">More</a>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#logout">Logout</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="columns main-content">
    </div>
</div>
