{% extends "base.html" %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    {% if cancel %}

    <div class="row">
        <div class="centered eight columns text-center">
            You seem to already be on duty.<br/> Would you like to cancel your hours?
        </div>
    </div>
    <div class="row">
        <div class="push_four four columns text-center">
            <div class="medium secondary btn" >
                <a href="#" id="dont_cancel_btn">Don't Cancel</a>
            </div>
        </div>
        <div class="four columns text-center">
            <div class="medium primary btn">
                <a href="#" id="cancel_btn">Cancel</a>
            </div>
        </div>
        <form method="post" action="" id="cancel_hours">{% csrf_token %}
        {% render_field ca_form.confirm class="Hidden" %}
        <script>
            var cancel_field_name = "{{ ca_form.confirm.auto_id }}";
        </script>
        </form>
    </div>

    {% else %}
    <div class="row text-center">
        <h3>Go On Duty</h3>
    </div>
    <form method="post" action=""> {% csrf_token %}

        {% if oh_form.end_time.errors %}
        <div class="row">
            <div class="centered eight columns">
                <li class="danger alert text-center">{{ oh_form.end_time.errors }}</li>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="field centered eight columns {% if oh_form.end_time.errors %}danger{% endif %}">
                <input id="{{ oh_form.end_time.auto_id }}"  type="text" placeholder="When will you be done?" name="{{ oh_form.end_time.html_name }}">
                <script>
                    var field_id = "{{ oh_form.end_time.auto_id }}";
                </script>
            </div>
        </div>

        {% if oh_form.course.errors %}
            <div class="row">
                <div class="centered eight columns">
                    <li class="danger alert text-center">Don't forget to pick a class!</li>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="picker centered eight columns">
                <select id="{{ oh_form.course.auto_id }}" name="{{ oh_form.course.html_name }}">
                    <option value="#" disabled >Which Class?</option>
                    {% for choice in oh_form.course.field.choices %}
                        {% if forloop.first %}
                            <option value="">Select a Class</option>
                        {% else %}
                            <option value="{{ choice.0 }}">{{ choice.1}}</option>
                        {% endif %}

                    {% endfor %}
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="centered eight columns text-center">
                <div class="medium primary btn">
                    <input id="submit" type="submit" value="Submit"/>
                </div>
            </div>
        </div>
    </form>

    {% endif %}
    
{% endblock %}

{% block endScripts %}
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}"/>
    <script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'js/go_on_duty.js' %}"></script>
    <script src="{% static 'js/setupDuty.js' %}"></script>
{% endblock %}
