{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="centered ten columns text-center">
            <h2>{{ student.usr.first_name }} {{ student.usr.last_name }}'s Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="centered six columns text-center">
            <div class="medium secondary btn">
                <a href="{% url 'auth_password_change' %}">Password Change</a>
            </div>
        </div>
    </div>


{% endblock %}
