{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
{% endblock %}


{% block content %}

    {% if not requestData %}
        <div class="row">
            <div class="row text-center">
                Odd, looks like there isn't anything here yet. You should contact support!
            </div>
        </div>
    {% endif %}
        <div class="row">
            <section class="three columns">
                <nav id="sidebar-nav-holder" class="vertical-nav" gumby-fixed="top" gumby-pin="[data-target='{{ classes.last.Number }}']" >
                    <ul id="sidebar-nav">

                        {% for rq in requestData %}
                            {% if forloop.first %}
                                <li class="active" id="comp{{ rq.0.Number }}Nav" data-course="comp{{rq.0.Number}}">
                                    <a href="#comp{{ rq.0.Number }}"> 
                                        Comp {{ rq.0.Number }} 
                                        {% if rq.1 %}
                                            <span class="info badge" id="comp{{ rq.0.Number}}count" data-count="{{ rq.1|length}}">{{ rq.1|length }}</span>
                                        {% else %}
                                            <span class="info badge Hidden" id="comp{{ rq.0.Number}}count" data-count="0"></span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% else %}
                                <li id="comp{{ rq.0.Number }}Nav" data-course="comp{{rq.0.Number}}">
                                    <a href="#comp{{ rq.0.Number }}">
                                        Comp {{ rq.0.Number }}
                                        {% if rq.1 %}
                                            <span class="info badge" id="comp{{ rq.0.Number}}count" data-count="{{ rq.1|length}}">{{ rq.1|length }}</span>
                                        {% else %}
                                            <span class="info badge Hidden" id="comp{{ rq.0.Number}}count" data-count="0"></span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </nav>
            </section>


            {% for rq in requestData %}
            {% if forloop.first %}
                <section class="thirteen columns course" id="comp{{ rq.0.Number }}">
            {% else %}
                <section class="thirteen columns course Hidden" id="comp{{ rq.0.Number }}">
            {% endif %}
                <div class="left-center">
                    <h2>Comp {{ rq.0.Number }} Queue</h2>
                    <table class="striped rounded" id={{ rq.0.Number }}Table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Location</td>
                                <td>Problem Description</td>
                                <td>When Asked</td>
                                <td>Resolve</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for r in rq.1 %}
                            {% if r.student.usr == request.user %}
                            <tr class="myRequest" data-rqID='{{ r.id }}'>
                            {% else %}
                            <tr data-rqID="{{ r.id }}">
                            {% endif %}
                                <td>{{ r.student.usr.first_name|escape }} {{ r.student.usr.last_name|first|capfirst|escape}}.</td>
                                <td>{{ r.whereLocated|escape }}</td>
                                <td wraptext>{{ r.question|escape }}</td>
                                <td>{{ r.whenAsked|date:"m/d P" }}</td>
                                <td>
                                    {% if r.student.usr == request.user %}
                                        <div class="medium info btn">
                                            <a href="#" class="resolveBtn" data-id="{{ r.pk }}">Resolve</a>
                                        </div>
                                    {% elif is_ta %}
                                        <div class="medium info btn">
                                            <a href="#" class="resolveBtn" data-id="{{ r.pk }}">Resolve</a>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr data-empty="true">
                                <td colspan="5" class="text-center">There's nothing here!</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div class="medium primary btn">
                                        <a class="needHelp" data-course="{{ rq.0.pk }}" href="{% url 'getHelp' %}">I Need Help</a>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
            {% if forloop.first %}
                <div class="courseTA thirteen columns push_three" id='comp{{rq.0.Number}}TA'>
            {% else %}
                <div class="courseTA thirteen columns push_three Hidden" id='comp{{rq.0.Number}}TA'>
            {% endif %}
                <h2>TAs on Duty</h2>
                    {% if rq.2 %}
                        <ul class="two_up tiles">
                        {% for oh in rq.2 %}
                             <li>{{ oh.ta.usr.get_full_name|escape }} in {{ oh.location|escape }} until {{ oh.end_time|date:"P" }} </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <div class="text-center"> No one is on duty </div>
                    {% endif %}
                    {% if is_ta %}
                    <div class="text-center">
                        <div class="medium primary btn"> 
                            <a href="{% url 'go_on_duty' %}" class="goOnDuty" data-course="{{ rq.0.pk }}">Go On/Off Duty</a>
                        </div>
                    </div>
                    {% endif %}
            </div>
        {% endfor %}

        </div>


{% endblock %}

{% block endScripts %}
    <script src="{% static "js/ScrollingSideBar.js" %}"></script>
    <script src="{% static "js/resolveRequest.js" %}"></script>
{% endblock %}
