/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

$bad-color: red;
$good-color: green
$problem-color: orange;

.Hidden {
    display: none;
}

.Shown {

}

.Available {
    color: $good-color;
}

.Error {
    color: $problem-color;
}

.InUse {
    color: $bad-color;
}

.Off {

}

.InSession {
    color: $bad-color;
}

.ComingUp {
    color: $problem-color;
}

.ServerOn {

}

.ServerOff {
    color: $bad-color;
}

.ServerError {
    color: $problem-color;
}

.Header {
    color: dodgerblue;
    text-shadow: 0px 2px 3px white;
}

#content {
    height: 80%;
}

#name {
    float: left;

}

#feedback {
    float: right;
}

#FailureDiv {
    cursor: pointer;
}

.Refresh {
    float:right;
    color: white;
}

.Refresh:hover {
    color: orange;
}


/*ToolTip Stuff Begins Here */
.hasTooltip {
    position:relative;
}
.hasTooltip span {
    display:none;
}

.hasTooltip:hover span {
    display:inline-block;
    background-color:dodgerblue;
    border-radius:10px;
    color:white;
    box-shadow:2px 2px 6px gray;
    position:absolute;
    padding:5px;
    top:0em;


    right:40px;
    max-height:250px;
    white-space: nowrap;

}

.graphWrapper {
    width: 100%;
    height: 300px;
}
/*Tooltip Stuff Ends Here */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

$slide-border-radius: 0px
$slide-inactive-color: #999999;

.slideSwitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.slideSwitch-checkbox {
    display: none;
}

.slideSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $slide-inactive-color;
    border-radius: $slide-border-radius;
}

.slideSwitch-inner {
    width: 200%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $slide-inactive-color;
    border-radius: $slide-border-radius;
}

.slideSwitch-inner:before, .slideSwitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slideSwitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: #2FCCFF;
    color: #FFFFFF;
}

.slideSwitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.slideSwitch-switch {
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.slideSwitch-checkbox:checked + .slideSwitch-label .slideSwitch-inner {
    margin-left: 0;
}

.slideSwitch-checkbox:checked + .slideSwitch-label .slideSwitch-switch {
    right: 0px;
}
