CouchDB==0.9
Django==1.5.1
EasyProcess==0.1.6
Jinja2==2.7
Mako==0.7.3
MarkupSafe==0.15
PAM==0.4.2
Pillow==2.0.0
South==0.7.6
Twisted-Core==12.3.0
Twisted-Names==12.3.0
Twisted-Web==12.3.0
UniConvertor==1.1.4
Werkzeug==0.9.1
adium-theme-ubuntu==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
bzr==2.6.0dev3
chardet==2.0.1
configglue==1.0
configobj==4.7.2
debtagshw==0.1
defer==1.0.6
defusedxml==0.4.1
demjson==1.6
dirspec==4.2.0
distribute==0.6.34
django-registration==0.8
duplicity==0.6.21
evernote==1.24.0
gevent==0.13.8
gevent-socketio==0.3.6
gevent-websocket==0.3.6
greenlet==0.4.1
hamster-indicator==0.0.0
httplib2==0.7.6
itsdangerous==0.21
keyring==0.9.2
launchpadlib==1.10.2
lazr.restfulclient==0.13.1
lazr.uri==1.0.3
lxml==3.1.0
medusa==0.5.4
meld3==0.6.5
mercurial==2.2.2
nose==1.1.2
numpy==1.7.1
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.3.7
oneconf==0.3.3
paramiko==1.7.7.1
pexpect==2.4
piston-mini-client==0.7.5
protobuf==2.4.1
psutil==1.1.0
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pygpgme==0.3
pyinotify==0.9.3
pyscreenshot==0.3.2
pyserial==2.6
pysmbc==1.0.13
python-apt==0.8.8ubuntu6
python-debian==0.1.21-nmu2ubuntu1
python-distutils-extra==2.37
pyxdg==0.25
quickly-lens-templates==0.0.3
reportlab==2.6
requests==2.3.0
rhythmbox-ubuntuone==4.2.0
sessioninstaller==0.0.0
simplejson==2.6.2
six==1.2.0
software-center-aptd-plugins==0.0.0
stevedore==0.13
supervisor==3.0a8
system-service==0.1.6
thrift==0.9.0
twitter==1.10.0
ubuntuone-storage-protocol==4.2.0
unity-lens-photos==0.9
unity-singlet==0.2.2
virtualenv==1.11.2
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wadllib==1.3.2
winpdb==1.4.8
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.5.1
xlrd==0.9.2
zope.interface==4.0.5
