Django==1.9
Pillow==3.0.0
amqp==1.4.8
anyjson==0.3.3
billiard==3.3.0.22
celery==3.1.19
django-appconf==1.0.1
django-celery==3.1.17
django-debug-toolbar==1.4
django-extensions==1.6.1
django-imagekit==3.3
django-pipeline==1.5.4
django-registration-redux==1.3
django-webpack-loader==0.2.4
django-websocket-redis==0.4.4
djangorestframework==3.3.2
drf-nested-routers==0.11.1
futures==3.0.3
gevent==1.0.2
greenlet==0.4.9
kombu==3.0.30
mercurial==3.1.1
pilkit==1.1.13
psycopg2==2.6.1
py==1.4.31
pytz==2015.7
redis==2.10.5
six==1.10.0
wsgiref==0.1.2
