{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="row text-center">
    <h2> Reset your password </h2>
</div>
<div class="row text-center">
    <form method="post" action=".">
        {% csrf_token %} 
        <p class="field">
            {% render_field form.email class="narrow input" type="email" placeholder="Enter your Tufts email" %}
        </p>

        {% for error in form.email.errors %}
            <p class="danger alert">
                {{ error }}
            </p>
        {% endfor %}
       
        <p> 
            <div class="medium primary btn">
                <input type="submit" value="{% trans 'Submit' %}" />
            </div>
            <div class="medium secondary btn">
                <a href="{% url 'registration_register' %}">Register</a>
            </div>
        </p>
    </form>
</div>
{% endblock %}
