{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="row login-card">
    <div class="small-12 columns text-center">
        <h2 class="text-center">Halligan Again?</h2>
    </div>
</div>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    <div class="row collapse login-card">
        {% for field in form %}
        <div class="small-4 columns">
            <span class="prefix">{{ field.label }}</span>
        </div>
        <div class="small-8 columns">
            {{ field }} 
        </div>
        {% endfor %}
    </div>
    {% if form.non_field_errors %}
    <div class="row login-card">
        <div class="small-12 text-center columns">
            {% for error in form.non_field_errors %}
            <p class="alert-box alert">
            {{ error }}
            </p>
            {% endfor %} 
        </div>
    </div>
    {% endif %}
    <div class="row login-card">
        <div class="small-12 text-center columns">
            <p><input type="submit" value="Login" class="button success extend"/></p>
            <p><a href="{% url 'auth_password_reset' %}">
                Forgot Password?
            </a></p>
            <p><a href="{% url 'forgot_username' %}">
                Forgot Your Username?
            </a></p>
        </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</form>
{% endblock %}
