{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="small-12 columns text-center login-card">
        <h2>Halligan Again?</h2>
    </div>
</div>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    <div class="row">
        <div class="login-card">
            <div class="row collapse">
                {% for field in form %}
                <div class="small-4 columns">
                    <span class="prefix">{{ field.label }}</span>
                </div>
                <div class="small-8 columns">
                    {{ field }} 
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if form.non_field_errors %}
        <div class="row">
            <div class="login-card">
                <div class="row">
                    <div class="small-12 text-center columns">
                        {% for error in form.non_field_errors %}
                        <p class="alert-box alert">
                        {{ error }}
                        </p>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="login-card">
            <div class="row">
                <div class="small-12 columns text-center">
                    <input type="submit" value="Login" class="button success extend"/>
                </div>
                <div class="small-12 columns text-center">
                    <a href="{% url 'auth_password_reset' %}">
                        Forgot Password?
                    </a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</form>
{% endblock %}
