{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
    <div class="row text-center">
        <p class="field">
            {% render_field form.username class="narrow text input" type="text" placeholder="Username" %}
        </p>

        <p class="field">
            {% render_field form.password class="narrow input password" type="password" placeholder="Password"%}
        </p>

        {% for error in form.non_field_errors %}
            <p class="danger alert">
                {{ error }}
            </p>
        {% endfor %} 

        
    </div>
    <div class="row text-center">
        <div class="medium primary btn">
            <input type="submit" value="Login"/>
        </div>
    </div>
    <div class="row text-center">
            <a href="{% url 'auth_password_reset' %}">
                Forgot Password?
            </a>
    </div>
</form>

{% endblock %}
