{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

{% if validlink %}
<div class="row">
    <form method="post" action=".">{% csrf_token %} 
   
        <div class="row">
            <div class="field centered six columns">
                {% render_field form.new_password1 class="wide password input" type="password" placeholder="New Password"%}
            </div>
        </div>
        {% if form.new_password1.errors %}
            <div class="row">
                <li class="danger alert text-center">
                    {{ form.new_password1.errors }}
                </li>
            </div>        
        {% endif %}
   
   
        <div class="row">
            <div class="field centered six columns">
                {% render_field form.new_password2 class="wide password input" type="password" placeholder="New Password (Again)"%}
            </div>
        </div>
        {% if form.new_password2.errors %}
            <div class="row">
                <li class="danger alert text-center">
                    {{ form.new_password2.errors }}
                </li>
            </div>        
        {% endif %}
  
        <div class="row centered four columns">
            <div class="large primary btn">
                <input type="submit" value="{% trans 'Submit' %}" />
            </div>
        </div> 
    
    </form>
</div>

{% else %}
<div class="row text-center">
    <p>{% trans "Password reset failed" %}</p>
</div>
{% endif %}

{% endblock %}
