{% extends "registration_base.html" %}
{% load widget_tweaks %}

{% block header %}Reset your password{% endblock %}
{% block content %}
<form method="post" action=".">

    <div class="row">
        {% if form.email.errors %}
        <div class="small-12 columns text-center login-card">
            <label class="error">
            {% render_field form.email class="narrow input error" type="email" placeholder="Enter your Tufts email" %}
            </label>
            <small class="error"> {{form.email.errors.0}}</small> 
        </div>
        {% else %}
        <div class="small-12 columns text-center login-card">
            {% render_field form.email class="narrow input" type="email" placeholder="Enter your Tufts email" %}
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="small-12 columns text-center login-card">
            <input class="button success extend" type="submit" value="{% trans 'Submit' %}" />
        </div>
    </div>
    {% csrf_token %} 
</form>
{% endblock %}
