{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% block styles %}
    {% render_bundle 'main' 'css' %}
{% endblock %}

{% block content %}

{% if validlink %}
    <div class="row">
        <div class="small-12 columns text-center course-title">
            <h2>Reset your password</h2> 
        </div>
    </div>
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    <form method="post" action="." class="row align-center-fix reset-password-form">
        {% csrf_token %}
        <div class="small-8 columns">
            {% for field in form %} 
                <div class="row">
                    <div class="columns expand">
                        <label>{{ field.label }}
                            {{ field }}
                        </label>
                    </div> 
                </div>
            {% endfor %}
            <div class="row">
                <div class="small-12 columns text-center">
                    <input type="submit" value="Reset" class="button extend"/>
                </div>
            </div>
        </div>
    </form>
{% else %}
    <div class="row text-center">
        <div class="small-12 columns login-card">
            <p>Password reset failed</p>
        </div>
    </div>
{% endif %}

{% endblock %}
