{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

{% if validlink %}
    <div class="row">
        <div class="small-12 columns text-center login-card">
            <h1>Reset your password</h1> 
        </div>
    </div>
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    <div class="row">
        <form method="post" action=".">{% csrf_token %} 
            <div class="small-12 columns login-card">
                {% for field in form %} 
                    <div class="row collapse">
                        <div class="small-4 columns">
                            <span class="prefix">{{ field.label }}</span>
                        </div> 
                        <div class="small-8 columns">
                            {% if field.errors %}
                                {% render_field field class="error" %} 
                                <small class="error">{{ field.errors.0 }}</small>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="small-12 columns text-center">
                        <input type="submit" value="Reset" class="button success extend"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% else %}
    <div class="row text-center">
        <div class="small-12 columns login-card">
            <p>{% trans "Password reset failed" %}</p>
        </div>
    </div>
{% endif %}

{% endblock %}
