{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
<form method="post" action=".">
  {% csrf_token %} 

    <div class="row">
        <div class="field centered six columns">
            {% render_field form.old_password class="wide password input" type="password" placeholder="Old Password"%}
        </div>
    </div>
    {% if form.old_password.errors %}
        <div class="row">
            <li class="danger alert text-center">
                {{ form.old_password.errors }}
            </li>
        </div>        
    {% endif %}
    
    <div class="row">
        <div class="field centered six columns">
            {% render_field form.new_password1 class="wide password input" type="password" placeholder="New Password" %}
        </div>
    </div>
    {% if form.new_password1.errors %}
        <div class="row">
            <li class="danger alert text-center">
                {{ form.old_password.errors }}
            </li>
        </div>        
    {% endif %}
    
    <div class="row">
        <div class="field centered six columns">
            {% render_field form.new_password2 class="wide password input" type="password" placeholder="New Password (again)"%}
        </div>
    </div>
    {% if form.new_password2.errors %}
        <div class="row">
            <div class="centered ten columns">
                <li class="danger alert text-center">
                    {{ form.old_password.errors }}
                </li>
            </div>
        </div>        
    {% endif %}
    
    <div class="row">
        <div class="centered four columns">
            <div class="medium primary btn">
                <input type="submit" value="{% trans 'Submit' %}" />
            </div>
        </div>
    </div>

</form>
</div>
{% endblock %}
