{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="text-center">
        Thank you for registering!
    </div>
</div>
<div class="row">
    <div class="text-center">
        You will receive an email with an activation link shortly. If you do not receive one, please check your spam folder.
    </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="medium primary btn">
            <a href="/">Login</a>
        </div>
    </div>
</div>
{% endblock %}
