{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
    
    <div class="row">
        <div class="small-12 columns login-card">
            <h2 class="text-center">Welcome!</h2>
            <p class="text-center">Fill out this form and we'll get you started.</p>
            <form method="post" action="{% url 'register' %}">
                {% for field in form %}
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix">{{ field.label }}</span>
                    </div>
                    <div class="small-8 columns">
                        {% if field.errors %}
                            {% render_field field class="error" %}
                            <small class="error">{{ field.errors.0 }}</small>
                        {% else %}
                            {{ field }} 
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="small-1 small-centered columns">
                        <input type="submit" value="Register" class="button success extend"/>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
