{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="login-card text-center">
        <img src="{% static 'HalliganTAAvailability/imgs/HH_Logo.jpg' %}" alt="Halligan Helper logo" width=150 height=115/>
        <h1>Halligan Helper</h1>
    </div>
</div>
<div class="row show-for-small">
    <div class="medium-6 small-12 columns login-card left">
        <a href="#" data-reveal-id="login-modal" class="button expand"> Login </a>
    </div>
    <div class="medium-6 small-12 columns login-card right">
        <a href="#" data-reveal-id="signup-modal" class="button expand success">Sign Up</a>
    </div>
</div>
<div class="row" data-equalizer>
    <div class="medium-6 small-12 columns login-card left" data-equalizer-watch>
        <h2 class="text-center">What is this?</h2>
        <h3>A TA System</h3>
        <p>
        Halligan Helper allows Teacher's Assistants to quickly and easily
        locate and help students. A digital wait list updates in real time, 
        enabling TAs to focus on helping students rather than organizing them.
        </p>
        <h3>An Availability System</h3>
        <p>
        Gone are the days of arriving in the computer labs, only to find that 
        all of the machines are taken! Halligan Helper keeps track of when computers
        are being used (in real time, naturally), and allows students to 
        determine if there is space available for them to work.
        </p>
    </div>
    <div class="medium-6 small-12 columns login-card right" data-equalizer-watch>
        <div class="ta-slider">
            <div>Something</div>
            <div>Something Else</div>
        </div>
    </div>
</div>
<div class="row hide-for-small">
    <div class="medium-6 small-12 columns login-card left">
        <a href="#" data-reveal-id="login-modal" class="button expand"> Login </a>
    </div>
    <div class="medium-6 small-12 columns login-card right">
        <a href="#" data-reveal-id="signup-modal" class="button expand success">Sign Up</a>
    </div>
</div>
<div id="login-modal" class="reveal-modal" data-reveal>
    <h2 class="text-center">Welcome back!</h2>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% for field in login %}
        <div class="row collapse">
            <div class="small-4 columns">
                <span class="prefix">{{ field.label }}</span>
            </div>
            <div class="small-8 columns">
                {{ field }} 
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="small-1 small-centered columns">
                <input type="submit" value="Login" class="button extend"/>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="signup-modal" class="reveal-modal" data-reveal>
    <h2 class="text-center">Welcome!</h2>
    <p class="text-center">Fill out this form and we'll get you started.</p>
    <form method="post" action="{% url 'register' %}">
        {% for field in register %}
        <div class="row collapse">
            <div class="small-4 columns">
                <span class="prefix">{{ field.label }}</span>
            </div>
            <div class="small-8 columns">
                {{ field }} 
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="small-1 small-centered columns">
                <input type="submit" value="Sign Up" class="button success extend"/>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>

    <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}

{% block footer_bar %}
    <div class="row">
        <div class="small-12 columns login-card text-center">
            Created by <a href="mailto:tyler@tylerlubeck.com">Tyler Lubeck</a>
        </div>
    </div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css"/>
<link href="{% static 'HalliganComputerAvailability/css/jquery.vegas.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block endscripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"></script>
<script src="{% static 'HalliganComputerAvailability/js/jquery.vegas.min.js' %}"></script>
<script>
    $(function() {
        $.vegas({
            src: "{% static 'HalliganTAAvailability/imgs/Halligan_Background.jpg' %}"
        });

        $('.ta-slider').slick({
            'dots': true            
        });
    });
</script>
{% endblock %}
