@import "mixins/card";

.course-title {
    @include card;
    text-align: center;
    padding: 2px 0px;
    color: white;
    background-color: $primary-color;

    .ta-count {
        color: white;
        font-weight: bold;
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: -20px;
    }

    span {
        position: relative;
        margin-left: 15px;
        top: 2px;
        transition-property: color;
        transition-duration: .2s;


        &:hover {
            color: #C1D2DE;
            cursor: pointer;
        }
    }
}

.ta-overlay-container {
    @include card;

    display: flex;
    align-content: space-around;
    flex-wrap: wrap;

    position: absolute;
    width: 60%;

    margin: auto;
    margin-left: 0px;
    padding: 10px;

    z-index: 999;
    list-style: none;
    background-color: $primary-color;
    animation: display-tas .3s ease-in-out;

    &.hidden {
        display: none;
        animation: display-tas .3s ease-in-out reverse;
    }

    .ta-card {
        @include card;
        background-color: gray;
        padding: 5px 10px;
        margin: auto;
        margin-top: 3px;
        margin-left: 10px;

        .name-info {
            text-align: center;
        }

        .on-duty {
            color: green;
        }
        
        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
    }

}

@keyframes display-tas {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        transform: translateY(-1000px);
        /* transform: scale(1, 0); */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        /* transform: scale(1); */
    }
}
