@import "mixins/card";

.course-title {
    @include card;
    text-align: center;
    padding: 2px 0px;
    color: white;
    background-color: $primary-color;
    margin-bottom: 5px;
}

.ta-section-title {
    background-color: $secondary-color;
}

.ta-grid {
    display: flex;
    align-content: flex-wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;

    margin-bottom: 5px;
}

.ta-card {
    @include card;
    padding: 5px 10px;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 0px;
    width: 100%;

    @include breakpoint( large up ) {
        width: 50%;
    }

    .name-info {
        text-align: center;
        h4 {
            margin-bottom: 2px;
        }
    }

    .personal-blurb {
        margin-top: 6px;
    }

    .personal-info {
        float: left;
        margin-right: 5px;

        .personal-blurb {
            word-break: break-word;
        }

        .name-info {
            margin-top: 2px;
            text-align: center;
        }

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
    }
}
