.error-message {
    float: left;
    margin-left: 4px;
    display: none;
}

.input-footer {
    position: relative;
    top: -2px;
    font-size: smaller;
}

.error {
    color: darkred;

    input, select {
        border-color: darkred;
    }
    .error-message {
        display: inherit;
        color: darkred;
    }
    ul {
        margin-left: 0px;
        list-style-type: none;
    }
}
