@import "mixins/card";

.sub-title {
    @include card;
    background-color: $secondary-color;
    margin-bottom: 5px;
    padding: 2px 0px;
    color: white;
    text-align: center;
}

.password-change-col {
    width: 50%;
}
