/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

.Available {
    color: green;
}

.Error {
    color: orange;
}

.InUse {
    color: red;
}

.Off {

}

.Header {
    color: #222;
    text-shadow: 0px 2px 3px #BCE;
}