# This is merely a template for the secret.py file that should contain all of
# your secret or device specific settings.

DEBUG = False
TEMPLATE_DEBUG = DEBUG
EMAIL_HOST_PASSWORD = '{{ hh_email_password }}'
SECRET_KEY = '{{ hh_secret_key }}'

ALLOWED_HOSTS = ['*']


# This is a dummy database setup. You'll need to insert your own
# database name and passwords
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'halliganhelper',
        'USER': 'halliganhelper',
        'PASSWORD': '{{ postgres_password }}',
        'HOST': 'localhost'
    }
}


WS4REDIS_CONNECTION = {
    'password': '{{ redis_password }}',
}
