{% extends "base.html" %}

{% block header %}

    {% load staticfiles %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static "js/CreateGraph.js" %}"></script>
    <script src="{% static "js/GetComputerInfo.js" %}"></script>
    <script src="{% static "js/GetLabInfo.js" %}"></script>
    <script src="{% static "js/GetCurrentUpcomingLabInfo.js" %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="twelve columns">
        <section class="pill tabs">
            <ul class="tab-nav">
                {% for room in Rooms %}
                    {% if forloop.first %}
                        <li class="active RoomTab" data-Room_Header="{{ room }}"><a href="#">{{ room }}  <i class="warning badge Hidden" id="{{ room }}_warning_badge">L</i> <i class="danger badge Hidden" id="{{ room }}_danger_badge">UL</i></a></li>
                    {% else %}
                        <li class="RoomTab" data-Room_Header="{{ room }}"><a href="#">{{ room }}   <i class="warning badge Hidden" id="{{ room }}_warning_badge">L</i> <i class="danger badge Hidden" id="{{ room }}_danger_badge">UL</i></a></li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="#">
                        Labs
                    </a>
                </li>
                <li>
                    <a href="#">
                        Servers
                    </a>
                </li>
            </ul>
            {% for room in Rooms %}
                {% if forloop.first %}
                    <div class="tab-content active RoomBody" data-Room_Tab="{{ room }}"><div id="danger_div_{{ room }}"></div><div id="warning_div_{{ room }}"></div><div id="content_div_{{ room }}"></div></div>
                {% else %}
                    <div class="tab-content RoomBody" data-Room_Tab="{{ room }}"><div id="danger_div_{{ room }}"></div><div id="warning_div_{{ room }}"></div><div id="content_div_{{ room }}"></div>
                {% endif %}
            {% endfor %}
            <div class="tab-content">
                <div id="LabContainer"></div>
            </div>
            <div class="tab-content">
                <table class="striped rounded">
                    <thead>
                        <tr>
                            <td>Server Name</td>
                            <td>Number of Users</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server in servers|dictsort:'ComputerName'  %}
                            {% if server.Status == "ON" %}
                            <tr class="ServerOn">
                            {% elif server.Status == "OFF" %}
                            <tr class="ServerOff">
                            {% elif server.Status == "ERROR" %}
                            <tr class="ServerError">
                            {% endif %}

                                <td><a href="#" class="switch" gumby-trigger="#modal_{{ server.ComputerName }}">{{ server.ComputerName }}</a></td>
                                <td>{{ server.NumUsers }}</td>
                                <td>{{ server.Status }}</td>
                                <td>{{ server.LastUpdated }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for server in servers|dictsort:'ComputerName' %}
                    <div class="modal" id="modal_{{ server.ComputerName }}">
                        <div class="content">
                            <div id="ChartFor{{ server.ComputerName }}"></div>
                            <p class="btn primary small">
                                <a href="#" class="switch" gumby-trigger="|#modal_{{ server.ComputerName }}">Close</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </section>
    </div>
    {% include "footer.html" %}
</div>



{% endblock %}