{% extends "base.html" %}

{% block header %}




{% endblock %}

{% block content %}
<div class="row">
    <div class="sixteen columns">
        <section class="pill tabs" id="tabs">
            <ul class="tab-nav">
                {% for room in Rooms %}
                    {% if forloop.first %}
                        <li class="active RoomTab" data-Room_Header="{{ room }}"><a href="#">{{ room }}  <i class="warning badge Hidden" id="{{ room }}_warning_badge">UL</i> <i class="danger badge Hidden" id="{{ room }}_danger_badge">L</i></a></li>
                    {% else %}
                        <li class="RoomTab" data-Room_Header="{{ room }}"><a href="#">{{ room }}   <i class="warning badge Hidden" id="{{ room }}_warning_badge">UL</i> <i class="danger badge Hidden" id="{{ room }}_danger_badge">L</i></a></li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="#">
                        Labs
                    </a>
                </li>
                <li>
                    <a href="#">
                        Servers
                    </a>
                </li>
            </ul>
            {% for room in Rooms %}
                {% if forloop.first %}
                    <div class="tab-content active RoomBody" data-Room_Tab="{{ room }}">
                        <div id="notifications_{{ room }}">
                            {% comment %}
                            <div id="danger_div_{{ room }}"></div>
                            <div id="warning_div_{{ room }}"></div>
                            {% endcomment %}
                        </div>
                        <div id="content_div_{{ room }}">
                            <div class="row">
                                <div class="centered three columns">
                                    <span class="primary alert">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="tab-content RoomBody" data-Room_Tab="{{ room }}">
                        <div id="notifications_{{ room }}">
                            {% comment %}
                            <div id="danger_div_{{ room }}"></div>
                            <div id="warning_div_{{ room }}"></div>
                            {% endcomment %}
                        </div>
                        <div id="content_div_{{ room }}">
                            <div class="row">
                                <div class="centered five columns">
                                    <span class="primary alert">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="tab-content">
                <div id="LabContainer">
                    <div class="row">
                        <div class="centered five columns">
                            <span class="primary alert">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="ServerContainer"></div>
            </div>
        </section>
    </div>
    {% include "footer.html" %}
</div>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/jquery.jqplot.min.css" %}"/>
    <script src="{% static "js/jqplot/jquery.jqplot.min.js" %}"></script>
    <script src="{% static "js/jqplot/jqplot.canvasAxisLabelRenderer.min.js" %}"></script>
    <script src="{% static "js/jqplot/jqplot.canvasTextRenderer.min.js" %}"></script>
    <script src="{% static "js/jqplot/jqplot.dateAxisRenderer.min.js" %}"></script>
    <script src="{% static "js/jqplot/jqplot.pointLabels.min.js" %}"></script>
    <script src="{% static "js/jqplot/jqplot.cursor.min.js" %}"></script>
    <script src="{% static "js/jqplot/jqplot.canvasAxisTickRenderer.min.js" %}"></script>
    <script src="{% static "js/pyDate2jsDate.js" %}"></script>
    <script src="{% static "js/LabUseGraph.js" %}"></script>
    <script src="{% static "js/GetComputerInfo.js" %}"></script>
    <script src="{% static "js/GetLabInfo.js" %}"></script>
    <script src="{% static "js/GetCurrentUpcomingLabInfo.js" %}"></script>
    <script src="{% static "js/GetServerInfo.js" %}"></script>

{% endblock %}