<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Halligan Helper{% endblock %}</title>
    {% load staticfiles %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="{% static "Gumby/js/libs/jquery.mobile.custom.min.js"%} "></script>
    <link rel="stylesheet" href="{% static "Gumby/css/gumby.css" %}">
    <link rel="stylesheet" href="{% static "Gumby/css/style.css" %}">
    {% block header %}{% endblock %}
</head>
<body>
    <div class="row navbar pretty">
        <h1 class="four columns logo">
            <span class="Header"> HalliganHelper <span>
        </h1>
    </div>
    {% block content %}{% endblock %}

    <script src="{% static "js/modernizer.js"%} "></script>
    <script src="{% static "Gumby/js/libs/gumby.min.js" %}"></script>
</body>
</html>