
<!DOCTYPE html>
<html class="metro">
<head>
    <title>{% block title %}Halligan Helper{% endblock %}</title>
    {% load staticfiles %}

    {% comment %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    {% endcomment %}
    <script src="{% static "Gumby/js/libs/jquery-2.0.2.min.js" %}"></script>
    <script src="{% static "Gumby/js/libs/jquery.mobile.custom.min.js"%} "></script>
    <link rel="stylesheet" href="{% static "Gumby/css/gumby.css" %}">
    <link rel="stylesheet" href="{% static "Gumby/css/style.css" %}">
    {% block header %}{% endblock %}
</head>
<body class="colgrid">
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44058222-1', 'halliganhelper.com');
    ga('send', 'pageview');

    </script>
    <nav id="main-navbar" class="navbar">
        <div class="row">
        <a class="toggle" gumby-trigger="#main-navbar #main-nav" href="#"><i class="icon-menu"></i></a>
            <h1 class="four columns logo">
                <a href="/">
                    <img src="{% static "img/HalliganHelper_mainlogo.png" %}">
                </a>
            </h1>

            <nav class="four columns push_seven">
                <ul id="main-nav">
                        <li><a href="/taSystem">TA Queue</a></li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="/users">{{ request.user.username }}</a>
                            <div class="dropdown">
                                <ul>
                                    <li><a href="/users/gethelp">Get Help</a></li>
                                    <li><a href="/users/listRequests">List Past Requests</a></li>

                                </ul>
                            </div>
                        </li>
                        <li>
                                    <a href="/accounts/logout?next=/">Logout</a>
                        </li>
                    {% else %}
                        <li><a href="/accounts/register">Sign Up</a></li>
                        <li><a href="/accounts/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static "js/modernizer.js"%} "></script>
    <script src="{% static "Gumby/js/libs/gumby.min.js" %}"></script>
</body>
</html>