{% extends "base.html" %}

{% block header %}
    {% load staticfiles %}
    {% comment %}<script src="{% static "js/ComputerInfo.js" %}"></script>{% endcomment %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="twelve columns">
        <section class="pill tabs">
            <ul class="tab-nav">
                {% comment %}
                {% for room in allRooms %}
                    {% if forloop.first %}
                        <li class="active"><a href="#">{{ room }}</a></li>
                    {% else %}
                        <li><a href="#">{{ room }}</a></li>
                    {% endif %}
                {% endfor %}
                {% endcomment %}
                <li class="active">
                    <a>
                        116
                        {% if labInfo.Room116.inSession%}
                        <span class="danger badge">L</span>
                        {% endif %}
                        {% if labInfo.Room116.UpcomingLabs %}
                        <span class="warning badge">UL</span>
                        {% endif %}

                    </a>
                </li>
                <li>
                    <a href="#">
                        118
                        {% if labInfo.Room118.inSession %}
                        <span class="danger badge">L</span>
                        {% endif %}
                        {% if labInfo.Room118.UpcomingLabs %}
                        <span class="warning badge">UL</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        120
                        {% if labInfo.Room120.inSession %}
                        <span class="danger badge">L</span>
                        {% endif %}
                        {% if labInfo.Room120.UpcomingLabs %}
                        <span class="warning badge">UL</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Labs
                    </a>
                </li>
                <li>
                    <a href="#">
                        Servers
                    </a>
                </li>
            </ul>
            <div class="tab-content active">


                {% if labInfo.Room116.inSession %}
                    <div class="row">
                        <div class="centered five columns">
                            <span class="danger alert">
                                {{ labInfo.Room116.lab.ClassName }} has a lab from {{ labInfo.Room116.lab.StartTime }} to {{ labInfo.Room116.lab.EndTime }}
                            </span>
                        </div>
                    </div>
                {% endif %}
                {% for ComingLab in labInfo.Room116.UpcomingLabs %}
                    <div class="row">
                        <div class="centered five columns">
                            <span class="warning alert">
                                {{ ComingLab.ClassName }} has a lab starting at {{ ComingLab.StartTime }}
                            </span>
                        </div>
                    </div>
                {% endfor %}


                <table class="striped rounded">
                    <thead>
                        <tr>
                            <td>Computer Number</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comp in Room116|dictsort:'ComputerNumber' %}

                            {% if comp.Status == "AVAILABLE" %}
                                <tr class="Available">
                            {% elif comp.Status == "INUSE" %}
                                <tr class="InUse">
                            {% elif comp.Status == "OFF" %}
                                <tr class="Off">
                            {% elif comp.Status == "ERROR" %}
                                <tr class="Error">
                            {% endif %}
                                    <td>{{ comp.ComputerNumber }}</td>
                                    <td>{{ comp.get_Status_display }}</td>
                                    <td>{{ comp.LastUpdate }}</td>
                                </tr>

                    {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="tab-content">


                {% if labInfo.Room118.inSession %}

                    <span class="danger alert">
                        {{ labInfo.Room118.lab.ClassName }} has a lab from {{ labInfo.Room118.lab.StartTime }} to {{ labInfo.Room118.lab.EndTime }}
                    </span>
                {% endif %}
                {% for ComingLab in labInfo.Room118.UpcomingLabs %}
                    <div class="row">
                        <div class="centered five columns">
                            <span class="warning alert">
                                {{ ComingLab.ClassName }} has a lab starting at {{ ComingLab.StartTime }}
                            </span>
                        </div>
                    </div>
                {% endfor %}


                <table class="striped rounded">
                    <thead>
                        <tr>
                            <td>Computer Number</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comp in Room118|dictsort:'ComputerNumber' %}

                            {% if comp.Status == "AVAILABLE" %}
                                <tr class="Available">
                            {% elif comp.Status == "INUSE" %}
                                <tr class="InUse">
                            {% elif comp.Status == "OFF" %}
                                <tr class="Off">
                            {% elif comp.Status == "ERROR" %}
                                <tr class="Error">
                            {% endif %}
                                    <td>{{ comp.ComputerNumber }}</td>
                                    <td>{{ comp.get_Status_display }}</td>
                                    <td>{{ comp.LastUpdate }}</td>
                                </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-content">
                <span class="warning alert">Reporting for 120 is currently broken. Blame RHEL5</span>
             {%comment %}
                {% if labInfo.Room120.inSession %}
                    <span class="danger alert">
                        {{ labInfo.Room120.lab.ClassName }} has a lab from {{ labInfo.Room120.lab.StartTime }} to {{ labInfo.Room120.lab.EndTime }}
                    </span>
                {% endif %}
                {% for ComingLab in labInfo.Room120.UpcomingLabs %}
                    <div class="row">
                        <div class="centered five columns">
                            <span class="warning alert">
                                {{ ComingLab.ClassName }} has a lab starting at {{ ComingLab.StartTime }}
                            </span>
                        </div>
                    </div>
                {% endfor %}


                <table class="striped rounded">
                    <thead>
                        <tr>
                            <td>Computer Number</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comp in Room120|dictsort:'ComputerNumber' %}

                            {% if comp.Status == "AVAILABLE" %}
                                <tr class="Available">
                            {% elif comp.Status == "INUSE" %}
                                <tr class="InUse">
                            {% elif comp.Status == "OFF" %}
                                <tr class="Off">
                            {% elif comp.Status == "ERROR" %}
                                <tr class="Error">
                            {% endif %}
                                    <td>{{ comp.ComputerNumber }}</td>
                                    <td>{{ comp.get_Status_display }}</td>
                                    <td>{{ comp.LastUpdate }}</td>
                                </tr>

                        {% endfor %}
                    </tbody>
                </table>
             {% endcomment %}
            </div>
            <div class="tab-content">
                <table class="striped rounded">
                    <thead>
                        <tr>
                            <th>Room</th>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lab in allLabs %}
                            {% if lab.is_lab_in_session %}
                                <tr class="InSession">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td>{{ lab.RoomNumber }}</td>
                                <td>
                                    {% if lab.DayOfWeek == 6 %}
                                        Sunday
                                    {% elif lab.DayOfWeek == 0 %}
                                        Monday
                                    {% elif lab.DayOfWeek == 1 %}
                                        Tuesday
                                    {% elif lab.DayOfWeek == 2 %}
                                        Wednesday
                                    {% elif lab.DayOfWeek == 3 %}
                                        Thursday
                                    {% elif lab.DayOfWeek == 4 %}
                                        Friday
                                    {% elif lab.DayOfWeek == 5 %}
                                        Saturday
                                    {% endif %}
                                 </td>
                                <td>{{ lab.StartTime }}</td>
                                <td>{{ lab.EndTime }}</td>
                                <td>{{ lab.ClassName }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-content">
                <table class="striped rounded">
                    <thead>
                        <tr>
                            <td>Server Name</td>
                            <td>Number of Users</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server in servers|dictsort:'ComputerName'  %}
                            {% if server.Status == "ON" %}
                            <tr class="ServerOn">
                            {% elif server.Status == "OFF" %}
                            <tr class="ServerOff">
                            {% elif server.Status == "ERROR" %}
                            <tr class="ServerError">
                            {% endif %}

                                <td>{{ server.ComputerName }}</td>
                                <td>{{ server.NumUsers }}</td>
                                <td>{{ server.Status }}</td>
                                <td>{{ server.LastUpdated }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </section>
    </div>
</div>
{% endblock %}