{% extends "base.html" %}

{% block header %}
    {% load staticfiles %}
    {% comment %}<script src="{% static "js/ComputerInfo.js" %}"></script>{% endcomment %}

{% endblock %}

{% block content %}
{% comment %}
<div id="MachineList">
    <div id="AvailableMachines" class="Available">
        {% for comp in comps.AVAILABLE %}
            {{ comp.ComputerNumber }}
        {% endfor %}
    </div>
    <div id="InUseMachines" class="InUse">
        {% for comp in comps.INUSE %}
            {{ comp.ComputerNumber }}
        {% endfor %}
    </div>

    <div id="ErrorMachines" class="Error">
        {% for comp in comps.ERROR %}
            {{ comp.ComputerNumber }}
        {% endfor %}
    </div>
    <div id="Labs" class="Available">
        {% for room in labs %}
            {% for lab in room %}
                {{ lab }}
            {% endfor %}
        {% endfor %}
    </div>

</div>
{% endcomment %}
<div class="row">
    <div class="twelve columns">
        <section class="pill tabs">
            <ul class="tab-nav">
                {% for room in allRooms %}
                    {% if forloop.first %}
                        <li class="active"><a href="#">{{ room }}</a></li>
                    {% else %}
                        <li><a href="#">{{ room }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content active">
                <table class="rounded">
                    <thead>
                        <tr>
                            <td>Computer Number</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comp in Room116|dictsort:'ComputerNumber' %}

                            {% if comp.Status == "AVAILABLE" %}
                                <tr class="Available">
                            {% elif comp.Status == "INUSE" %}
                                <tr class="InUse">
                            {% elif comp.Status == "OFF" %}
                                <tr class="Off">
                            {% elif comp.Status == "ERROR" %}
                                <tr class="Error">
                            {% endif %}
                                    <td>{{ comp.ComputerNumber }}</td>
                                    <td>{{ comp.Status }}</td>
                                    <td>{{ comp.LastUpdate }}</td>
                                </tr>

                    {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="tab-content">
                <table class="rounded">
                    <thead>
                        <tr>
                            <td>Computer Number</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comp in Room118|dictsort:'ComputerNumber' %}

                            {% if comp.Status == "AVAILABLE" %}
                                <tr class="Available">
                            {% elif comp.Status == "INUSE" %}
                                <tr class="InUse">
                            {% elif comp.Status == "OFF" %}
                                <tr class="Off">
                            {% elif comp.Status == "ERROR" %}
                                <tr class="Error">
                            {% endif %}
                                    <td>{{ comp.ComputerNumber }}</td>
                                    <td>{{ comp.Status }}</td>
                                    <td>{{ comp.LastUpdate }}</td>
                                </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="tab-content">
                <table class="rounded">
                    <thead>
                        <tr>
                            <td>Computer Number</td>
                            <td>Status</td>
                            <td>Last Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comp in Room120|dictsort:'ComputerNumber' %}

                            {% if comp.Status == "AVAILABLE" %}
                                <tr class="Available">
                            {% elif comp.Status == "INUSE" %}
                                <tr class="InUse">
                            {% elif comp.Status == "OFF" %}
                                <tr class="Off">
                            {% elif comp.Status == "ERROR" %}
                                <tr class="Error">
                            {% endif %}
                                    <td>{{ comp.ComputerNumber }}</td>
                                    <td>{{ comp.Status }}</td>
                                    <td>{{ comp.LastUpdate }}</td>
                                </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
    </div>
</div>
{% endblock %}