{% extends "base.html" %}

{% block content %}
    <div class="row">

        <div class="row">
            <section class="two columns">
                <nav id="sidebar-nav-holder" class="vertical-nav" gumby-fixed="top" gumby-pin="[data-target='comp105']" >
                    <ul id="sidebar-nav">
                        <li class="active">
                            <a href="#comp11" class="skip" gumby-update gumby-duration="600" gumby-goto="[data-target='comp11']">
                                Comp 11
                            </a>

                        </li>
                        <li>
                            <a href="#comp15" class="skip" gumby-update gumby-duration="600" gumby-goto="[data-target='comp15']">
                                Comp 15
                            </a>
                        </li>
                        <li>
                            <a href="#comp40" class="skip" gumby-update gumby-duration="600" gumby-goto="[data-target='comp40']">
                                Comp 40
                            </a>
                        </li>
                        <li>
                            <a href="#comp105" class="skip" gumby-update gumby-duration="600" gumby-goto="[data-target='comp105']">
                                Comp 105
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="thirteen columns push_one" >
                <div class="left-center" data-target="comp11">
                    <h2>Comp 11 Queue</h2>
                    <table class=" striped rounded">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Location</td>
                                <td>Problem Description</td>
                                <td>When Asked</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% if not comp11 %}
                        <tr>
                            <td colspan="4" class="text-center">There's nothing here!</td>
                        </tr>
                        {% endif %}
                        {% for r in comp11 %}
                            <tr>
                                <td>{{ r.student.usr.first_name }} {{ r.student.usr.last_name|first|capfirst}}.</td>
                                <td>{{ r.whereLocated }}</td>
                                <td wraptext>{{ r.question }}</td>
                                <td>{{ r.whenAsked|date:"m/d P" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="left-center" data-target="comp15">
                    <h2>Comp 15 Queue</h2>
                    <table class=" striped rounded">
                        <thead>
                        <tr>
                                <td>Name</td>
                                <td>Location</td>
                                <td>Problem Description</td>
                                <td>When Asked</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% if not comp15 %}
                        <tr>
                            <td colspan="4" class="text-center">There's nothing here!</td>
                        </tr>
                        {% endif %}
                        {% for r in comp15 %}
                            <tr>
                                <td>{{ r.student.usr.first_name }} {{ r.student.usr.last_name|first|capfirst}}.</td>
                                <td>{{ r.whereLocated }}</td>
                                <td wraptext>{{ r.question }}</td>
                                <td>{{ r.whenAsked|date:"m/d P" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="left-center" data-target="comp40">
                    <h2>Comp 40 Queue</h2>
                    <table class=" striped rounded">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Location</td>
                                <td>Problem Description</td>
                                <td>When Asked</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% if not comp40 %}
                        <tr>
                            <td colspan="4" class="text-center">There's nothing here!</td>
                        </tr>
                        {% endif %}
                        {% for r in comp40 %}
                            <tr>
                                <td>{{ r.student.usr.first_name }} {{ r.student.usr.last_name|first|capfirst}}.</td>
                                <td>{{ r.whereLocated }}</td>
                                <td wraptext>{{ r.question }}</td>
                                <td>{{ r.whenAsked|date:"m/d P" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="left-center" data-target="comp105">
                    <h2>Comp 105 Queue</h2>
                    <table class=" striped rounded">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Location</td>
                                <td>Problem Description</td>
                                <td>When Asked</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% if not comp105 %}
                        <tr>
                            <td colspan="4" class="text-center">There's nothing here!</td>
                        </tr>
                        {% endif %}
                        {% for r in comp105 %}
                            <tr>
                                <td>{{ r.student.usr.first_name }} {{ r.student.usr.last_name|first|capfirst}}.</td>
                                <td>{{ r.whereLocated }}</td>
                                <td wraptext>{{ r.question }}</td>
                                <td>{{ r.whenAsked|date:"m/d P" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

    </div>
{% endblock %}