{% load staticfiles %}
{% load compress %}

{% compress js %}
<script src="{% static 'backbone/app.js' %}"></script>
<script src="{% static 'backbone/TastyPie_Backbone_Shim.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/ComputerView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/LabView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/RoomView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/QueueItemView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/OfficeHourView.js' %}"></script>

<script src="{% static 'HalliganComputerAvailability/backbone/views/ComputersView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/LabsView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/RoomsView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/QueueItemsView.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/views/OfficeHoursView.js' %}"></script>

<script src="{% static 'HalliganComputerAvailability/backbone/models/Room.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/models/Lab.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/models/Computer.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/models/QueueItem.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/models/OfficeHour.js' %}"></script>

<script src="{% static 'HalliganComputerAvailability/backbone/collections/Rooms.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/collections/Labs.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/collections/Computers.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/collections/QueueItems.js' %}"></script>
<script src="{% static 'HalliganComputerAvailability/backbone/collections/OfficeHours.js' %}"></script>

<script src="{% static 'backbone/router.js' %}"></script>
{% endcompress %}
