{% load staticfiles %}
<script id="computerHeaderTemplate" type="text/template">
    <div class="row computer-header">
        <div class="small-4 columns computer-number-header"><h4>Number</h4></div>
        <div class="small-4 columns computer-status-header"><h4>Status</h4></div>
        <div class="small-4 columns computer-last-update-header"><h4>Last Updated</h4></div>
    </div>
</script>

<script id="computerTemplate" type="text/template">
    <% if (status === 'INUSE') { %>
        <div class="row computer computer-status-in-use">
    <% } else if (status === 'AVAILABLE') { %>
        <div class="row computer computer-status-available">
    <% } else if (status === 'ERROR')  { %>
        <div class="row computer computer-status-error">
    <% } else if (status === 'OFF')  { %>
        <div class="row computer computer-status-available">
    <% } %>
        <div class="small-4 columns computer-number"><%= number %></div>
        <% if (status === 'INUSE') { %>
            <div class="small-4 columns">In Use</div>
        <% } else if (status === 'AVAILABLE') { %>
            <div class="small-4 columns">Available</div>
        <% } else if (status === 'ERROR')  { %>
            <div class="small-4 columns">Error</div>
        <% } else if (status === 'OFF')  { %>
            <div class="small-4 columns">Off</div>
        <% } %>
        <div data-livestamp="<%= last_update %>" class="small-4 columns computer-last-update"><%= moment(last_update).format("h:mm a D/MM/YY") %></div>
    </div>
</script>

<script id="labHeaderTemplate" type="text/template">
    <div class="row lab-header">
        <div class="small-12 text-center"><h3>Lab Schedule</h3></div>
    </div>
    <div class="row lab-header hide-for-small">
        <div class="large-2 medium-2 small-2 columns lab-week-day-header"><h4>Day</h4></div>
        <div class="large-2 medium-2 small-2 columns lab-start-time-header"><h4>Start Time</h4></div>
        <div class="large-2 medium-2 small-2 columns lab-end-time-header"><h4>End Time</h4></div>
        <div class="large-2 medium-2 small-3 columns lab-room-num-header"><h4>Room Number</h4></div>
        <div class="large-3 medium-3 small-2 columns end lab-course-name-header"><h4>Course</h4></div>
    </div>
</script>

<script id="labTemplate" type="text/template">
    <% if (coming_up) { %>
        <div class="row lab lab-coming-up">
    <% } else if (in_session) { %>
        <div class="row lab lab-in-session">
    <% } else { %>
        <div class="row lab">
    <% } %>
            <div class="large-2 medium-2 small-12 columns lab-week-day"><span class="show-for-small-only">Day: </span><%= day_of_week_str %></div>
            <div class="large-2 medium-2 small-12 columns lab-start-time"><span class="show-for-small-only">Start Time: </span><%= moment(start_time, "HH:mm:ss").format("h:mm a") %></div>
            <div class="large-2 medium-2 small-12 columns lab-end-time"><span class="show-for-small-only">End Time: </span><%= moment(end_time, "HH:mm:ss").format("h:mm a") %></div>
            <div class="large-2 medium-2 small-12 columns lab-room-num"><span class="show-for-small-only">Room Number: </span><%= room_number %></div>
            <div class="large-3 medium-3 small-12 columns end lab-course-name"><span class="show-for-small-only">Course: </span><%= course_name %></div>
        </div>
</script>

<script id="roomTemplate" type="text/template">

</script>

<script id="queueItemHeaderTemplate" type="text/template">
    <div class="row queue-course-header text-center">
        <div class="small-12">
            <h3>Comp <%= courseNum %> Queue</h3>
        </div>
    </div>
    <div class="row queue-header hide-for-small">
        <div class="medium-2 small-3 columns queue-name-header"><h4>Name</h4></div>
        <div class="medium-2 small-3 columns queue-location-header"><h4>Location</h4></div>
        <div class="medium-4 small-3 columns queue-problem-header"><h4>Problem</h4></div>
        <div class="medium-2 small-3 columns end queue-when-asked-header"><h4>Asked At</h4></div>
    </div>
</script>

<script id="queueTemplate" type="text/template">
    <% if ( checked_out ) { %>
        <div class="row request checked_out">
    <% } else { %>
        <div class="row request">
    <% } %>
        <div class="large-2 medium-2 small-12 columns queue-name">
            <span class="show-for-small-only">
                Name: 
            </span>
            <%= first_name %> <%= last_name[0] %>.
        </div>

        <div class="large-2 medium-2 small-12 columns queue-location">
            <span class="show-for-small-only">
                Location: 
            </span>
            <%= whereLocated %>
        </div>

        <div class="large-4 medium-4 small-12 columns queue-problem">
            <span class="show-for-small-only">
                Question: 
            </span>
            <%= question %>
        </div>

        <% if (allow_edit) { %>
            <div class="large-2 medium-2 small-12 columns queue-when-asked">
                <span class="show-for-small-only">
                    Asked at: 
                </span>
                <%= moment(whenAsked).format("MM/DD h:mm a") %>
            </div>

            <div class="large-2 medium-2 small-12 columns end queue-resolve text-center">
                <div class="tiny secondary button edit-button">
                    Edit
                </div>
                <div class="tiny primary button cancel-button">
                    Cancel
                </div>
            </div>

        <% } else if (allow_resolve) { %>
            <div class="large-2 medium-2 small-12 columns queue-when-asked">
                <span class="show-for-small-only">
                    Asked at: 
                </span>
                <%= moment(whenAsked).format("MM/DD h:mm a") %>
            </div>

            <div class="large-2 medium-2 small-12 columns end text-center queue-resolve">
                <div class="tiny secondary button checkout-button">
                    Checkout
                </div> 
                <div class="tiny primary button resolve-button">
                    Resolve
                </div>
            </div>
        <% } else { %> 
            <div class="large-2 medium-2 small-12 columns end queue-when-asked">
                <span class="show-for-small-only">
                    Asked at: 
                </span>
                <%= moment(whenAsked).format("MM/DD h:mm a") %>
            </div>
        <% } %>
    </div>
</script>

<script id="queueEditTemplate" type="text/template">
    <% if ( checked_out ) { %>
        <div class="row request checked_out">
    <% } else { %>
        <div class="row request">
    <% } %>
        <div class="large-2 medium-2 small-12 columns queue-name"><span class="show-for-small-only">Name: </span><%= first_name %> <%= last_name[0] %>.</div>

        <div class="large-2 medium-2 small-12 columns queue-location">
            <label> Where are you? 
                <input type="text" id="whereLocated" value="<%= whereLocated %>" maxlength=50/> 
            </label>
        </div>

        <div class="large-4 medium-4 small-12 columns queue-problem">
            <label> What's your problem?
                <input type="text" id="question" value="<%= question %>" maxlength=50>
            </label>
        </div>

        <div class="large-2 medium-2 small-12 columns queue-when-asked"><span class="show-for-small-only">Asked at: </span><%= moment(whenAsked).format("MM/DD h:mm a") %></div>
        <div class="large-2 medium-2 small-12 columns end text-center queue-resolve">
            <div class="tiny secondary button undo-button">
               Undo 
            </div> 
            <div class="tiny primary button save-button">
               Save 
            </div>
        </div>
    </div>
</script>

<script id="makeRequestTemplate" type="text/template">
    <div class="get-help" id="get-help">
        <div class="row make-request">
            <div class="small-12 small-centered columns text-center">
                <h5>Get Help</h5>
            </div>
        </div>
        <div class="row make-request">
            <div class="medium-3 small-12 columns queue-location" id="locationField">
                <label>
                    Where are you?
                    <input type="text" maxlength=50 id="location"/>
                </label>
            </div>
            <div class="medium-9 small-12 columns queue-problem" id="questionField">
                <label>
                    What's your problem?
                    <input type="text" maxlength=50 id="problem"/>
                </label>
            </div>
        </div>
        <div class="row make-request">
            <div class="small-12 small-centered columns text-center">
                <input id="makeRequestButton" type="button" class="small button extend" value="Submit"/>
            </div>
        </div>
    </div>
</script>

<script id="emptyListTemplate" type="text/template">
    <div class="small-12 text-center" id="emptyList">
        <div class="card">
            There's nothing here!
        </div>
    </div>
</script>

<script id="officeHourTemplate" type="text/template">
    <div class="row text-center"><img width="100" height="100" alt="<%= ta.full_name %>'s headshot" src="<%= ta.headshot %>"/></div>
    <div class="row text-center"><%= ta.full_name %></div>
    <div class="row text-center"><%= location %></div>
    <div class="row text-center">Off Duty <span class="moment" data-time='<%= end_time %>'><%= moment(end_time).fromNow() %></span></div>
    <% if (is_me) { %>
        <div class="row text-center">
            <div class="small-12 small-centered columns text-center">
                <input id="cancelOfficeHours" type="button" class="tiny button extend" value="Cancel"/> 
            </div>
        </div>
    <% } %>
</script>

<script id="goOnDutyTemplate" type="text/template">
    {% if user.ta %}
        <div class="get-help">
            
        </div>
    {% endif %}
</script>

<script id="addOfficeHourTemplate" type="text/template">
    <li id="addHours" class="taCard"> 
        <h5 class="text-center">Go On Duty</h5>
        <div class="row">
            <label for="TAHQ" class="white_bckgd_lbl"> Where are you camped?</label>
            <input id="TAHQ" type="text"/> 
        </div>
        <div class="row">
            <label for="dtPick" class="white_bckgd_lbl"> When are you done?</label>
            <input id="dtPick" type="text" />
        </div>
        <div class="row text-center"><div class="tiny button extend" id="clockInBtn">Clock In</div></div>
    </li>
</script>
