{% load staticfiles %}
<script id="school-template" type="text/template">
    {# Start header bar for mobile #}
    <div class="top-bar hide-for-medium">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Halligan Helper</li>
                <li class="has-submenu">
                    <a href="#">Rooms</a>
                    <ul class="submenu menu vertical room-menu" data-submenu>
                        <li><a href="#15">Room 1</a></li>
                        <% _.each(courses, function(course) { %>
                            <li>
                                <a href="#course/<%= course.id %>"><%- course.identifier %></a>
                            </li>
                        <% }); %>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Courses</a>
                    <ul class="submenu menu vertical course-menu" data-submenu>
                        <li><a href="#15">Course 1</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {# End header bar for mobile #}
    <div class="row expanded">
        <div class="columns shrink show-for-medium">
            {# Start side nav bar #}
            <div class="side-nav">
                <div class="side-nav-header">
                    <img id="side-nav-logo" src="https://placekitten.com/g/151/151" height=151 width=151 alt="logo"></img>
                    <h4>Halligan Helper</h4>
                    <h6><%- name %></h6>
                </div>
                <ul class="menu vertical">
                    <ul class="room-menu menu-heading"><a href="#">Rooms</a>
                        <li><a href="#15">Room 1</a></li>
                    </ul>
                    <ul class="course-menu menu-heading"><a href="#">Courses</a>
                        <% _.each(courses, function(course) { %>
                            <li>
                                <a href="#course/<%= course.id %>"><%- course.identifier %></a>
                                {% comment %}
                                <span data-tooltip aria-haspopup="true" class="has-tip right" tabindex=1 title="<%- course.name %>">
                                    <a href="#course/<%= course.id %>"><%- course.identifier %></a>
                                </span>
                                {% endcomment %}
                            </li>
                        <% }); %>
                    <ul class="more-menu menu-heading"><a href="#">More</a>
                        <li><a href="#15">More 1</a></li>
                        <li><a href="#15">Logout</a></li>
                    </ul>
                </ul>
            </div>
            {# End side nav bar #}
        </div>
        <div class="columns main-content">
        </div>
    </div>
</script>
<script id="course-template" type="text/template">
        <div class="row expanded">
            <div class="columns">
                <div class="course-title">
                    <h3><%- name %><span><i class="fi-torsos"></i></span></h3>
                </div> 
            </div>
        </div>
        <div class="row expanded">
            <div class="columns">
                <div class="requests-container"></div>
            </div>
        </div>
        <div class="row expanded">
            <div class="columns">
                <div class="make-request-container"></div>
                </div>
            </div>
        </div>
</script>

<script id="request-listing-template" type="text/template">
    <div class="row expanded request-information <% if ( editable ) { %> editable <% } %>">
        <div class="columns shrink">
            <img src="<%= requestor.headshot_url %>" width="101" height="101"></img>
        </div> 
        <div class="columns">
            <div class="row expanded request-name">
                <div class="columns">
                    <%- requestor.first_name %>
                </div>
                <div class="columns shrink request-location">
                    <%- where_located %> at <%- cancelled %>
                </div>
            </div>
            <div class="row expanded request-bottom-row">
                <div class="columns">
                <%- question %>
                </div>
            </div>
        </div>
    </div>
    <% if ( editable ) { %>
        <div class="row expanded align-right request-action-bar">
            <div class="columns shrink">
                <button type="button" class="secondary button">Edit</button>
                <button type="button" class="primary button">Cancel</button>
            </div>
        </div>
    <% } %>
</script>

<script id="make-request-remplate" type="text/template">
    <div class="row expanded align-center">
        <div class="columns">
            <div class="row expanded problem-input-row">
                <div class="columns">
                    <label>
                        What problem are you having?
                            <input type="text" class="problem-input">
                            <span class="make-request-error-message input-footer problem-error">Oh shit</span>
                            <span class="character-count input-footer"><span class="problem-char-count">0</span>/51 characters</span>
                    </label>
                </div>
            </div>
            <div class="row expanded location-input-row">
                <div class="columns">
                    <label>
                        Where are you?
                            <input type="text" class="location-input">
                            <span class="make-request-error-message location-error input-footer">Oh shit</span>
                            <span class="character-count input-footer"><span class="location-char-count">0</span>/51 characters</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="columns shrink align-middle show-for-medium">
            <button type="button" class="button get-help-button">Get Help</button>
        </div>
    </div>
    <div class="row expanded align-center hide-for-medium">
        <div class="columns shrink">
            <button type="button" class="button get-help-button">Get Help</button>
        </div>
    </div>
</script>
