<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Halligan Helper{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en-US">

    {% load pipeline %}
    {% load static %}
    {% block styles %}
    {% endblock %}
    {% stylesheet 'all_styles' %}
    {% block header %}{% endblock %}
</head>
<body>

    {% block content %}
    {% endblock %}

</body>
<footer>
    {% block footer_bar %}{% endblock footer_bar %}
    {% javascript 'dependencies' %}
    {% block endscripts %}{% endblock %}
</footer>
