{% load static %}
<!DOCTYPE html>
{# <html manifest="{% static 'bundles/manifest.appcache' %}"> #}
<html>
<head>
    <title>{% block title %}Halligan Helper{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en-US">
    {% block styles %}{% endblock %}
    {% block header %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
<footer>
    {% block endscripts %}{% endblock %}
</footer>
