{% extends "base.html" %}
{% load pipeline %}
{% load static %}

{% block endscripts %}
    {% include "backbone_templates.html" %}
    {% javascript 'packages' %}
    {% javascript 'backbone' %}
    {% javascript 'dependencies' %}
{% endblock %}

{% block content %}
    <div class="row expanded">
        <div class="small-2 columns left">
            <div class="side-nav">
                <div class="side-nav-header">
                    <img id="side-nav-logo" src="https://placekitten.com/g/151/151" height=151 width=151 alt="logo"></img>
                    <h4>Halligan Helper</h4>
                    <h6>Tufts University</h6>
                </div>
                <ul class="menu vertical">
                    <ul class="room-menu menu-heading"><a href="#">Rooms</a>
                        <li><a href="#15">Room 1</a></li>
                        <li><a href="#15">Room 1</a></li>
                        <li><a href="#15">Room 1</a></li>
                    </ul>
                    <ul class="course-menu menu-heading"><a href="#">Courses</a>
                        <li><a href="#15">Course 1</a></li>
                        <li><a href="#15">Course 1</a></li>
                        <li><a href="#15">Course 1</a></li>
                        <li><a href="#15">Course 1</a></li>
                    </ul>
                    <ul class="more-menu menu-heading"><a href="#">More</a>
                        <li><a href="#15">More 1</a></li>
                        <li><a href="#15">More 1</a></li>
                        <li><a href="#15">Logout</a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="columns main-content">
            <div class="row expanded">
                <div class="columns">
                    <div class="course-title">
                        <h3>Machine Structure &amp; Assembly Language<span><i class="fi-torsos"></i></span></h3>
                    </div> 
                </div>
            </div>
            <div class="row expanded">
                <div class="columns">
                    <div class="requests-container">
                        {# Start of Request Listing #}
                        <div class="request-listing">
                            <div class="row">
                                <div class="columns shrink">
                                    <img src="https://placekitten.com/g/75/75"></img>
                                </div> 
                                <div class="columns">
                                    <div class="row request-name">
                                        <div class="columns">
                                            Tyler L.
                                        </div>
                                        <div class="columns shrink request-location">
                                            Lab 116 at 4:30pm
                                        </div>
                                    </div>
                                    <div class="row request-bottom-row">
                                        <div class="columns">
                                            This is my question
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# End of Request Listing #}
                </div>
            </div>
        </div>
        <div class="row expanded">
            <div class="columns">

            </div>
        </div>
    </div>

    
{% endblock %}
