{% extends "base.html" %}
{% block header %}
    {% include "backbone_templates.html" %}
    {% include "backbone_scripts.html" %}
{% endblock %}

{% block content %}
    <section role="main" class="scroll-container">
        <div class="row fullWidth">
            <div class="large-2 medium-3 small-1 columns"> 
                <div class="hide-for-small">
                    <div class="sidebar">
                        <nav>
                            <ul class="custom-sidenav">
                                <li class="heading"><h6>Hello {{user.first_name}}!</h6></li>
                                <li><a href="#" id="home">Home</a></li>
                                <li class="heading">Rooms</li>
                                {% for room_num in rooms %}
                                <li> <a href="#room/{{ room_num }}" id="room{{room_num}}">Lab {{ room_num }}</a></li>

                                {% endfor %}
                                <li class="heading">TA Queue</li>
                                {% for course in courses %}
                                <li><a href="#/ta/queue/{{ course }}" id="queue{{course}}">Comp {{ course }}</a></li>
                                {% endfor %}
                                <li class="heading">More</li>
                                <li><a href="#/labs" id="labs">Lab Schedule</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="large-10 medium-9 small-9 columns content" id="content">
            </div>
        </div>
    </section>
{% endblock %}
