upstream halliganhelper {
    # server unix:///webapps/halliganhelper/run/halliganhelper.sock fail_timeout=0;
    server 127.0.0.1:8001 fail_timeout=0;
}

upstream halliganhelper-wsgi {
    server 127.0.0.1:8002;
}

server {
    listen 443;
    server_name .halliganhelper.com;
    charset utf-8;
    client_max_body_size 75M;
    keepalive_timeout 5;
    
    access_log /var/log/hh/nginx-access.log;
    error_log /var/log/hh/nginx-error.log;

    location /static/ {
        alias /webapps/staticfiles/halliganhelper/;
    }

    location /media/ {
        alias /webapps/mediafiles/halliganhelper/;
    }

    {% if include_ssl %}
    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem;
    {% endif %}

    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 5m;

    ssl_ciphers  "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !EXPORT !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
    ssl_prefer_server_ciphers   on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    location /ws/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_pass http://halliganhelper-wsgi;
    }

    location / {
        uwsgi_pass halliganhelper;
        include uwsgi_params;
    }
}

server {
    listen 80;
    return 301 https://www.halliganhelper.com$request_uri;
    server_name www.halliganhelper.com;
}
