[uwsgi]
set-ph      = root=/webapps/hh
chdir       = %(root)/src
home        = %(root)/envs/current
plugins     = python2

env         = DEBUG=False
env         = STATIC_ROOT={{ static_root|replace('%', '%%') }}
env         = MEDIA_ROOT={{ media_root|replace('%', '%%') }}
env         = EMAIL_PASSWORD={{ email_password|replace('%', '%%') }}
env         = DB_PASSWORD={{ db_password|replace('%', '%%') }}
env         = REDIS_PASSWORD={{ redis_password|replace('%', '%%') }}
env         = SECRET_KEY={{ django_secret_key|replace('%', '%%') }}
